@using HaliSaha_Model.Models
@model Register

@{
    Layout=null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Hali_Saha</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Hali_Saha.styles.css" asp-append-version="true" />
	<title>Creative Colorlib SignUp Form</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<!-- Custom Theme files -->
	<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
	<!-- //Custom Theme files -->
	<!-- web font -->
	<link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">
	<!-- //web font -->
</head>
<body>
	<!-- main -->
	<div class="main-w3layouts wrapper" >
		<h1>Üye Ol</h1>
		<div class="main-agileinfo">
			<div class="agileits-top">
				<form method="post" asp-controller="Home" asp-action="Index">
					<span asp-validation-for="@Model.KullaniciAd" class="text-danger"></span>
					<input class="text" asp-for="@Model.KullaniciAd" type="text" name="KullaniciAd" placeholder="Ad" required="">
					 <br />
					<span asp-validation-for="@Model.KullaniciSoyad" class="text-danger"></span>
					<input class="text" asp-for="@Model.KullaniciSoyad" type="text" name="KullanniciSoyad" placeholder="Soyad" required="">
					
					<span asp-validation-for="@Model.KullaniciEmail" class="text-danger"></span>
					<input class="text email" asp-for="@Model.KullaniciEmail" type="email" name="email" placeholder="Email" required="">
					
					<span asp-validation-for="@Model.KullaniciSifre" class="text-danger"></span>
					<input class="text" asp-for="@Model.KullaniciSifre" type="password" name="password" placeholder="Şifre" required="">
					
					<span asp-validation-for="@Model.KullaniciSifreTekrar" class="text-danger"></span>
					<input class="text w3lpass" asp-for="@Model.KullaniciSifreTekrar" type="password" name="password" placeholder="Şifre Tekrar" required="">
					
					
					<div class="wthree-text">
						<label class="anim">
							<input type="checkbox" class="checkbox" required="">
							<span>Kullanım şartlarını okudum, kabul ediyorum.</span>
						</label>
						<div class="clear"> </div>
					</div>
					<input type="submit" value="Kayıt Ol">

					<div class="text-danger" asp-validation-summary="ModelOnly">

					</div>
				</form>
				<p>Bir hesabın var mı? <a asp-controller="Login" asp-action="Index"> Giriş Yap!</a></p>
			</div>
		</div>
		
		<ul class="colorlib-bubbles">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div>
	<!-- //main -->
</body>
</html>



