@model IEnumerable<Hali_Saha.Models.Randevu>

@{
    ViewData["Title"] = "Randevu Listesi";
}

<h1>Randevu Listesi</h1>

<p>
    <a asp-action="Create">Yeni Oluştur</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Üye Adı Soyadı
            </th>
            <th>
                Güzellik Merkezi
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sporTesisi.TesisDegerlendirmesi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sporTesisi.TesisPuani)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.randevuTarihi)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.kullanici.KullaniciAdı) @Html.DisplayFor(modelItem => item.kullanici.KullaniciSoyad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.sporTesisi.TesisAdi)
                </td>
                @if (DateTime.Now.Date < item.randevuTarihi)
                {
                    <td>
                        Gerçekleşmedi
                    </td>
                }
                else
                {
                    <td>

                        @Html.DisplayFor(modelItem => item.sporTesisi.TesisDegerlendirmesi)
                    </td>
                }
                @if (DateTime.Now.Date < item.randevuTarihi)
                {
                    <td>
                        Gerçekleşmedi
                    </td>
                }
                else
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.sporTesisi.TesisPuani)
                    </td>

                }
                <td>
                    @Html.DisplayFor(modelItem => item.randevuTarihi)
                </td>
                <td>
                    @Html.ActionLink("Düzenle", "Edit", new { merkezId = item.TesisId, uyeId = item.KullaniciId }) |
                    @Html.ActionLink("Detaylar", "Details", new { merkezId = item.TesisId, uyeId = item.KullaniciId }) |
                    @Html.ActionLink("Sil", "Delete", new { merkezId = item.TesisId, uyeId = item.KullaniciId })
                </td>
            </tr>
        }
    </tbody>
</table>