@using HaliSaha_Model.Models
@model SporTesisi
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer _localizer

@{
    ViewData["Title"] = _localizer["Spor Tesisini Sil"];
    ViewData["Title2"] = _localizer["Halısaha Adı"];
    ViewData["Title3"] = _localizer["Adresi"];
    ViewData["Title6"] = _localizer["Sil"];
    ViewData["Title8"] = _localizer["Halısahalara Geri Dön"];
}
<h5>@ViewData["Title"]</h5>

<h3></h3>
<div>
    <h4></h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">

        </dt>
        <dd class="col-sm-10">
            <img src="@Html.DisplayFor(model => model.TesisResmi)" />
        </dd>
        <dt class="col-sm-2">
            @ViewData["Title2"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TesisAdi)
        </dd>
        <dt class="col-sm-2">
            @ViewData["Title3"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TesisAdresi)
        </dd>

    </dl>

    <form asp-action="TesisDelete">
        <input type="hidden" asp-for="TesisId" />
        <input type="submit" value="@ViewData["Title6"]" class="btn btn-danger" /> |
        <a asp-action="TesisIndex">@ViewData["Title8"]</a>
    </form>
</div>